<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853851972630-56co8adue9fg3300n14255elb8ks7s4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853851972630-56co8adue9fg3300n14255elb8ks7s4p</string>
	<key>API_KEY</key>
	<string>AIzaSyArqFCMlBWjr6QKTVEprQLJUbcbxAgHAQE</string>
	<key>GCM_SENDER_ID</key>
	<string>853851972630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inu.appcenter.INUMarket</string>
	<key>PROJECT_ID</key>
	<string>inum-c3aee</string>
	<key>STORAGE_BUCKET</key>
	<string>inum-c3aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853851972630:ios:2c86158c6c7f4622</string>
	<key>DATABASE_URL</key>
	<string>https://inum-c3aee.firebaseio.com</string>
</dict>
</plist>